/* Our CSS Document */

body{
    background-color: gray;
}
.linkImg {
    height: 50px;
    width: 50px;
}
#memeContainer {
    position: relative;
}

#linkMeme {
    width: 100%;
    height: auto;
    margin: 20px;

}

#memeText {
    left: 0;
    border-style: dotted;
    border-width: thin;
    position: absolute; 
    text-align:center;
    top: 50px;
    width: 99.4%;
    color: black;
}
#floatedSword{
    float: right;
    background-color: lightgreen;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 25px;
}
#masterSwordImg {
    width: 210px;
}